<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  :head
</script>


</head>

<body>

<div id="header">
  <div id="lang">
    :languages
  </div>
</div>

:navigation

<div id="gallery"><!-- gallery -->
  <ul>
    <li><a href="@root_path/public/img/portrait1.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/portrait1.jpg" alt="demo" /></a></li>
    <li><a href="@root_path/public/img/portrait2.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/portrait2.jpg" alt="demo" /></a></li>
    <li><a href="@root_path/public/img/portrait3.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/portrait3.jpg" alt="demo" /></a></li>
    <li><a href="@root_path/public/img/portrait4.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/portrait4.jpg" alt="demo" /></a></li>

    <li><a href="@root_path/public/img/art1.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/art1.jpg" alt="demo" /></a></li>
    <li><a href="@root_path/public/img/art2.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/art2.jpg" alt="demo" /></a></li>
    <li><a href="@root_path/public/img/art3.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/art3.jpg" alt="demo" /></a></li>
    <li><a href="@root_path/public/img/art4.jpg" title="pic"  class="fancybox" rel="group"> <img src="@root_path/public/img/art4.jpg" alt="demo" /></a></li>
  </ul>
</div><!-- close gallery -->

:footer

</body>
</html>
