<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  :head
</head>

<body>

<div id="header">
  <div id="lang">
    :languages
  </div>
</div>

:navigation

<div id="gallery"><!-- gallery -->

:images

</div><!-- close gallery -->
 
 
<div id="intro">
<p><span>@welcome</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis risus ligula. Proin rhoncus felis at ipsum consequat eget commodo libero semper. Morbi sed purus arcu.</p>
</div>


<div id="box_left">
<h3>@sub1</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus dolor hendrerit lacus egestas sollicitudin. Nullam pharetra commodo sem, sit amet mattis metus vestibulum at. Suspendisse in tellus metus. Ut lobortis gravida magna, et mollis nisl luctus et. Ut quis neque eros</p>
<a href="page.html"><img src="@root_path/public/img/more.png" class="more" width="68" height="24" alt="more" /></a>
</div>

<div id="box_right">
<h3>@sub2</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus dolor hendrerit lacus egestas sollicitudin. Nullam pharetra commodo sem, sit amet mattis metus vestibulum at. Suspendisse in tellus metus. Ut lobortis gravida magna, et mollis nisl luctus et. Ut quis neque eros</p>
<a href="page.html"><img src="@root_path/public/img/more.png" class="more" width="68" height="24" alt="more" /></a>
</div>

<div id="box_middle">
<h3>@sub3</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent cursus dolor hendrerit lacus egestas sollicitudin. Nullam pharetra commodo sem, sit amet mattis metus vestibulum at. Suspendisse in tellus metus. Ut lobortis gravida magna, et mollis nisl luctus et. Ut quis neque eros</p>
<a href="page.html"><img src="@root_path/public/img/more.png" class="more" width="68" height="24" alt="more" /></a>
</div>

:footer

</body>
</html>
